@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-rgb: 37, 55, 79;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  color: rgb(119, 220, 255);
  font-size: x-large;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

input{
  border: 1px solid gray;
  border-radius: 4px;
}

select{
  color: black;
  border: none;
  border-radius: 4px;
}